@font-face {
  font-family: 'Fira Sans';
  src: url('./assets/fonts/firasans-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #22212B;
  color: white;
}

